.nav {
    background-color: black;
    color: #fff;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}


.nav li {
    display: inline;
    float: left;
   
}

.nav li a {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #ff2800;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverText {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

